{% extends 'base.html' %}
{% block content%}

<H3>Nueva Tarea</H3>

<form action="task" id = "formTask" method="post">
    {%csrf_token%}
    <p>Nombre: <input type='text' name='name' required></p>
    <p>Fecha Limite: <input type = 'date' name="due_date" placeholder="dd/mm/AAAA" required id='datepicker'></p>

    {% for message in messages %}
    {%if "due_date" in message.tags%}
        <p class ="error"> {{message}}</p>
    {%endif%}
{% endfor %} 

    <button type="submit">Guardar</button>

</form>

<p></p>
<h4>Mis Tareas Pendientes</h4>

<table class="table table-striped">

<th>Tarea</th>
<th>Fecha Limite</th>
<th>Completada</th>
<th>Acciones</th>

{% if user.tasks.all %}

{% for task in tasks_pending %}
<tr>
<td>{{task.name}}</td>
<td>{{task.due_date|date:"D d M Y"}}</td>
<td>{{task.completed}}</td>
<td> <a href ="/task_detail/{{task.id}}">  Editar</a> </td>
</tr>
{%endfor%}
</table>
{%endif%}

<h4>Mis Tareas Terminadas</h4>
{% load tz %}
<table class="table table-striped">
    <th>Tarea</th>
    <th>Fecha Limite</th>
    <th>Completa en:</th>
    {% for task in tasks_completed %}
    <tr>
        <td>{{task.name}}</td>
        {% timezone "America/Santiago" %}
        <td>{{task.due_date|date:"D d M Y"}}</td>
        <td>{{task.updated_at}}</td>
        {% endtimezone %}
    </tr>
    {%endfor%}


</table>


{% endblock%}