{% extends 'base.html' %}
{% block content%}

<H1>Home Usuarios</H1>

{% if request.session.logged_user %}
<p> Usuario Registrado : {{request.session.logged_user}}</p>
    <a href="/logout">Log Out</a>
{% endif%}



<form action="task" id = "formTask" method="post">
    {%csrf_token%}
    <p>Nombre: <input type='text' name='name' id ='name'></p>
    <p>Fecha Limite: <input type = 'date' name="due_date" placeholder="dd/mm/AAAA" id='datepicker'></p>

    {% for message in messages %}
    {%if "due_date" in message.tags%}
        <p class ="error"> {{message}}</p>
    {%endif%}
{% endfor %} 

    <button type="submit">Guardar</button>

</form>


<div class = "pending-tasks">
    
    {%include 'user-tasks.html'%}

</div>




<h4>Tareas Terminadas</h4>
{% load tz %}


<table class="table table-striped">
    <th>Tarea</th>
    <th>Fecha Limite</th>
    <th>Completa en:</th>
    {% for task in tasks_completed %}
    <tr>
        <td>{{task.name}}</td>
        {% timezone "America/Santiago" %}
      
        <td>{{task.due_date|date:"D d M Y"}}</td>
        <td>{{task.updated_at |date:"D d M Y"}}</td>
   

        {% endtimezone %}
    </tr>
    {%endfor%}


</table>

<script>
$('form').submit(function(e){
  e.preventDefault()
  $.ajax({
    type: 'post',
    url: $(this).attr('action'),
    data: $(this).serialize(),
    success: function(response){
      console.log("Received this from server: ", response)
      console.log("I should probably put that in the DOM...")
      $('.pending-tasks').html(response['form']);
      $("#name").val('');
      $("#datepicker").val('');
    },
    error: function(re, e){
        console.log(re.responseText)
    }
  })
})

</script>

{% endblock%}