{%load static%}
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">


    <link rel="stylesheet" src="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"></link> 
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" 
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" 
    integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>


    <script src="{% static 'js/functions.js' %}"> </script>   
</head>

<H1>Home Usuarios</H1>

{% if request.session.logged_user %}
<p> Usuario Registrado : {{request.session.logged_user}}</p>
    <a href="/logout">Log Out</a>
{% endif%}



<form action="task" id = "formTask" method="post">
    {%csrf_token%}
    <p>Nombre: <input type='text' name='name'></p>
    <p>Fecha Limite: <input type = 'text' name="due_date" placeholder="dd/mm/AAAA" id='datepicker'></p>

    {% for message in messages %}
    {%if "due_date" in message.tags%}
        <p class ="error"> {{message}}</p>
    {%endif%}
{% endfor %} 

    <button type="submit">Guardar</button>

</form>

<h4>Tareas Pendientes</h4>

<table> 

<th>Tarea</th>
<th>Fecha Limite</th>
<th>Completada</th>
<th>Acciones</th>

{% if user.tasks.all %}

{% for task in tasks_pending %}
<tr>
<td>{{task.name}}</td>
<td>{{task.due_date}}</td>
<td>{{task.completed}}</td>
<td> <a href ="/task_detail/{{task.id}}">  Editar</a> </td>
</tr>
{%endfor%}
</table>
{%endif%}

<h4>Tareas Terminadas</h4>

<table>
    <th>Tarea</th>
    <th>Fecha Limite</th>
    <th>Completa en:</th>
    {% for task in tasks_completed %}
    <tr>
        <td>{{task.name}}</td>
        <td>{{task.due_date}}</td>
        <td>{{task.updated_at}}</td>
    </tr>
    {%endfor%}


</table>