{% load static%}

<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" src="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"></link> 
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" 
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" 
    integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    
    <script src="{% static 'js/functions.js' %}"> </script>   
    
</head>

<h1>Index</h1>

<body>
    


<table>
<tr>
    <td>
<form action="register" id = 'formRegister' method="post">
    {%csrf_token%}
    {{ formRegister.as_p }}
    <button type="submit">Registrar</button>
</form>
</td>
<td width ="10%"></td>
<td>
<form action="login" id = 'formLogin' method="post">
    {%csrf_token%}
    {{ formLogin.as_p }}
    <button type="submit">Ingresar</button>
</form>
</td>
</tr>
</table>

</body>