{% extends 'base.html' %}
{% block content%}

<table width = "100%">
    <tr>
        <td width = "50%">
            <div class="form-group">
                <form action="register" class = "form-horizontal" id = 'formRegister' method="post">
                    {%csrf_token%}
                    {{ formRegister.as_p }}
                    <button type="submit">Registrar</button>
                </form>
            </div>
            </td>        
    <td width = "20%"></td>
    <td >
                <form action="login" class = "form-horizontal" id = 'formLogin' method="post">
                    {%csrf_token%}
                    <div class="form-group">
                         {{ formLogin.as_p }}
                    </div>
                    <button type="submit">Ingresar</button>
                </form>
    </td>
</tr>
</table>

{% endblock%}